
<h2 class= "h2-subtitle-typewritter"><span id ="frase-style" class = "subtitle-typewritter">Aproveite agora o cupom "StoryOn"</span></h2>
  

<div class="center-aling container-body">

    <div class="info-text">

        <h2 class="style-h2"> Baseada na sua última visita </h2>

        <a href="#">Ver historico</a>

    </div>

    <div id="produtos-ultima" class="row container-ultima-visita">
    </div>

    <div class="info-text">

        <h2 class="style-h2">Ofertas do dia</h2>

        <a href="#">Ver mais</a>

    </div>

    <div id="ofertasDoDia" class="row container-Ofertas-do-dia">
    </div>

    <div class="info-text">

        <h2 class="style-h2">Você também pode gostar</h2>

        <a href="#">Ver todas</a>

    </div>

    <div id ="Vocetmbgostos" class="row container-sugestao">
        
    </div>

    </section>
