<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">

      <div class="carousel-item active">

        <img src="https://http2.mlstatic.com/D_NQ_675551-MLA49696240152_042022-OO.webp" class="d-block w-100" alt="...">

      </div>

      <div class="carousel-item">

        <img src="https://http2.mlstatic.com/D_NQ_616101-MLA49598046841_042022-OO.webp" class="d-block w-100" alt="...">

      </div>

      <!-- <div class="carousel-item">

        <img src="https://http2.mlstatic.com/D_NQ_751462-MLA49668602384_042022-OO.webp"  class="d-block w-100" alt="...">

      </div> -->

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">

      <span class="carousel-control-prev-icon  btn-dark " aria-hidden="true"></span>

      <span class="visually-hidden">Previous-Car</span>

    </button>

    <button class="carousel-control-next b" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">

      <span class="carousel-control-next-icon  btn-dark" aria-hidden="true"></span>

      <span class="visually-hidden">Next-Car</span>

    </button>

</div>