<footer>

        <div class="row-sing">

            <button class="login-footer"><a href="/views/pages/login.ejs">Conectar</a></button>

        </div>

        <div class= "nav-icons">


            <ul>


                <li class="icon"><a href="#"><i class="bi bi-footer bi-instagram"></i></a></li>
                <li class="icon"><i class="bi bi-footer bi-facebook"></i></li>
                <li class="icon"><i class="bi bi-footer bi-whatsapp"></i></li>
                <li class="icon"><i class="bi bi-footer bi-linkedin"></i></li>
                <li class="icon"><i class="bi bi-footer bi-twitter"></i></li>
                <li class="icon"><i class="bi bi-footer bi-youtube"></i></li>

            </ul>

        </div>

        <div class="description">

            <span>&copy;2022 lifeStory todos os direitos reservados.</span>

        </div>

        

</footer>