<header> 

    <div class = "container-logo">
<!--
    <img  class = "logo" src="img/logo.png" alt="logo" />
-->
    <a href="#" title="home"></a> 
    </div>
    
        <ul class="menu">

           <li class="box-drop-buscar">
            <a href="/buscar" title="Buscar produtos">Buscar&nbsp;<i class="bi bi-arrow-down"></i>
            
            <div class="drop-buscar">
                <ul>
                    <li class="prod"><a href="">Veiculo</a></li>
                    <li class="prod"><a href="">Technologia</a></li>
                    <li class="prod"><a href="">Brinquedos</a></li>
                </ul>
            </div>         

            </a>
        </li>

            <li class=""><a href="#" title="Postar produtos"> <i class="bi bi-send"></i> Postar </a></li>

            <li class=""><a href="#" title="Visualizar itens no carrinho"><i class="bi bi-cart2"></i> Carrinho</a></li>

            <li class=""><a href="#" title="Converse com os vendedores"><i class="bi bi-chat-left-dots"></i> Chat</a></li>

           <li class=""> <a href="#" title="Conhesa os vendedores"><i class="bi bi-people-fill"></i> Vendedores</a></li>

           <li class="color-gold"> <a class = "button-criar-conta" href="/login">Login</a></li>

        </ul>
    
</header>

<div class = " container-header" >
    
    <form  class = "container-search" action="#">

        <input class = "search"  type="text" name="pesq" id="pesq-main" placeholder="Buscar...">
    
        <button id="search" class = "buton-style"type="submit" ><i class="bi bi-search search-icon btn-src" id ="ico-input"></i></button>
        
    </form>       
            
    <div class = "container-icos row">
        
        <ul class="header-nav-icons">

            <a href="#">
            
                <img class="icos-header"  src="https://www.casasbahia-imagens.com.br/criacao/01-home/icones-depto/2022/03-mar/11/slot_01.png" alt="img-Celular">

                <span class="span-header" type="label">Smartphone</span>
            
            </a>

            <a href="#">
                
                <img class="icos-header"  src="https://www.casasbahia-imagens.com.br/criacao/01-home/icones-depto/2022/03-mar/11/slot_11.png" alt="img-imoves">

                <span class="span-header" type="label">Móveis</span>
                
            </a>

            <a href="#">
                
                <img class="icos-header"  src="https://www.casasbahia-imagens.com.br/criacao/01-home/icones-depto/2022/03-mar/11/slot_02.png" alt="img-Relogio"> 

                <span class="span-header" type="label">Acessórios</span>
                
            </a>

            <a href="#">
                
                <img class="icos-header" src="https://www.casasbahia-imagens.com.br/criacao/01-home/icones-depto/2022/03-mar/11/slot_09.png" alt="Audio/Musicas">

                <span class="span-header" type="label">Audios</span>
                
            </a>

            <a href="#">
                
                <img class="icos-header" src="	https://www.casasbahia-imagens.com.br/criacao/01-home/icones-depto/2022/03-mar/11/slot_35.png" alt="img-Esporte">
                
                <span class="span-header" type="label">Esportes</span>
                
            </a>

            <a href="#">

                <img class="icos-header"src="	https://www.casasbahia-imagens.com.br/criacao/01-home/icones-depto/2022/03-mar/11/slot_19.png" alt="img-Ropas">

                <span class="span-header" type="label">Roupas</span>

            </a>

            <a href="#">

                <img class="icos-header" src="https://www.casasbahia-imagens.com.br/criacao/01-home/icones-depto/2022/03-mar/11/slot_12.png" alt="img-Games">

                <span class="span-header" type="label">Games</span>
                
            </a>

            <a href="#">

                <img class="icos-header" width="100%"  src="https://www.casasbahia-imagens.com.br/criacao/01-home/icones-depto/2022/03-mar/11/slot_16.png" alt="img-Ferramentas">

                <span class="span-header" type="label">Ferramentas</span>

            </a>
                                        
        </ul>
            
    </div> 

</div>