<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>life/cadastro</title>
    <link rel="stylesheet" href="/style/main-cadastro.css">
</head>
<body>

    <header>

        <div class="logo">
            <img src="" alt="">
        </div>

        <div class="opi">

            <ul>
                <li><a href="index.ejs">Voltar</a></li>
                <li><a href="login.ejs">login</a></li>
            </ul>

        </div>

    </header>

    <div class="container">
        
        <aside>
            <h2 class= "h2-subtitle-typewritter"><span id ="frase-style" class = "subtitle-typewritter">LIFESTORY</span></h2>
        </aside>
    
        <div class="container-cadastro">
    
        </div>
    </div>

    

</body>
</html>