*{
    margin: 0;
    padding: 0;
    list-style: none;
   
}
body{
    background-image: radial-gradient(circle at 53.43% 50%, #341e2e 0, #2e172b 16.67%, #3b2440 33.33%, #302138 50%, #120a1f 66.67%, #0a091c 83.33%, #03071e 100%);
}

header{
    display: flex;
    background-image: linear-gradient(to right top, #000000, #1b010e, #28031c, #32012e, #370044, #3b0052, #3e0162, #3e0472, #4d0478, #5b057e, #6a0684, #780789);
    height: 5rem;
    color: rgba(255, 255, 255, 0.747);
    margin-bottom: 5rem;
    padding: 1rem;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

header img{
    display: block;
    background: url("/img/logo.png") no-repeat 10px 4px;
    padding: 40px 113px 40px 40px;
    background-size: 100%;
    border-radius: 10%;
    
}

header a{
    margin-right: 3rem;
    color: aliceblue;
}

header a:hover{
    color: burlywood;
}

.container{
    display: flex;
    justify-content: space-around;
}

aside{
    color: white;
    font-size:40px;
    margin-top: 50px;
}

@keyframes typing{

    0%{width:0%;}

    50%{width:100%;}

    100%{width:100%; color: #2b082e;}

}

.h2-subtitle-typewritter{
    display: block;
    margin: 50px auto;
    width:349px ;
    height: 70px;
}

.subtitle-typewritter{
    color:#ffffff;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    animation: typing 10s steps(40,end) backwards;
    border-right: .15em solid rgba(138, 0, 162, 0.522);
}


.box-login{
    background-image: linear-gradient(to right top, #000000, #1c010f, #29031e, #330031, #37004a, #360051, #340058, #310060, #360153, #380548, #370a3d, #340f34);
    color: white;
    max-width: 23rem;
    min-width: 23rem;
    max-height: 28rem;
    min-height: 28rem;
    padding: 15px;
    box-shadow: 0 8px 8px 0 rgba(1, 0, 0, 0.389), 0 6px 25px 0 rgba(0, 0, 0, 0.48);
    border-radius: 10px;
}

.title{
    margin-left: 17px;
    margin-bottom: 0.7rem;
    color: rgb(255, 255, 255);
}
.content-group-input{
    display: flex;
    justify-content: center;
    
}

.box-group-input {
    display: inline;   
}

.box-group-input input {
    display: block;
    width: 20rem;
    height: 1.5rem;
    margin-bottom:30px;
    border-radius: 5px;
    padding: 5px;
    opacity: 70%;
    border: 2px solid #ffffff;
}

.box-group-input button{
    height: 2.3rem;
    width:20.9rem;
    border-radius: 5px;
    background-image: linear-gradient(to right top, #000000, #0e0005, #15000e, #190017, #19001f, #1a0024, #190129, #17022f, #1c0330, #220232, #270232, #2d0033);
    color: white;
    font-size: medium;
    border: none;
}
.box-group-input button:hover{
    background-image: linear-gradient(to right top, #000000, #0e0005, #000000, #190017, #130118, #0e0412, #000000, #17022f, #09010f, #09020c, #270232, #150217);
    color: burlywood;
}
.container-group-opc{
    display: flex;
    justify-content: space-evenly;

}

.input-group-opc{
    display: flex;
    font: 12px;
    margin-top: 20px;
   
}

.input-group-opc  a{
    color: #d8d9ff;
}

.input-group-opc  a:hover{
    color: burlywood
}

.input-group-opc li:nth-child(1){
  margin-right: 4rem;
    
}

.container-button-group{
    display: flex;
    justify-content: center;
}

.button-group button{
    height: 2.3rem;
    width: 7rem;
    margin-top: 3rem;
    border: 1px solid #17022f;
    background-color: #252525;
    color: white;
    padding: 0 2px;
    
}
.button-group button:hover{
    background-color: #000000;
}

butt
.button-group i {
    display: inline-block;
}

.button-group button:nth-child(1){
    margin-right: 5rem;
}

.container-cadastro{
    display: flex;
    justify-content: center;
    margin-top:2rem;
}

.container-cadastro a:hover{
    color: burlywood
}

@media only screen and (max-width: 800px) {
    aside {
      display: none;
    }
    .box-login{
        max-width: 22rem;
        min-width: 22rem;
        max-height: 30rem;
        min-height: 30rem;
    }
  }